{% extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block css %}
.edit{
float: right;
}
{% endblock %}
{% block body %}
{% load humanize %}
<div class="container w-75 my-4">
      <h2 class="blog-post-title">{{post.title}}</h2>
      <h5 class="card-category"> <span class="badge rounded-pill bg-dark">{{post.category}}</span></h5>
      <br>
      <div class="media">
            {% if post.author.profile.image %}
            <img class="mr-3 rounded-circle" src="{{post.author.profile.image.url}}" width="50px" height="50px"
                  alt="image">
            {% endif %}
            <div class="media-body">
                  <h5 class="mt-0"><a href="/user_profile/{{post.author.id}}/">{{post.author}}
                              {% if user.is_authenticated %}
                              {% if user.id == post.author.id %}
                         <small><a href="/edit_blog_post/{{post.slug}}/" class="btn btn-outline-warning">Editar Post</a></small>
                              {% endif %}
                              {% endif %}
                        </a></h5>
                  {{post.dateTime}}
            </div>
      </div>
      <br>
      <img src="/media/{{post.image}}" class="rounded mx-auto d-block" alt="image" class = "img-responsive" width = "70%" >
      <br>
      <p style="white-space: pre-wrap;" >{{post.content}}.</p>
      <hr>
      {% if user.is_authenticated %}
      <div class="container">
            <h2>Comentar Post</h2>
            <form action="/blog/{{post.slug}}/" method="POST"> {% csrf_token %}
                  <div class="form-floating">
                        <textarea class="form-control" placeholder="Deje un Comentario aqui" id="floatingTextarea2"
                              style="height: 100px" id="content" name="content"></textarea>
                        <label for="floatingTextarea2">Deje un Comentario aqui...</label>
                        <br>
                        <button type="submit" class="btn btn-primary">Comentar</button>
                        
                  </div>
            </form>
            {% else %}
            <div class="container">
                  <h4> Para dejar un comentario deberá <a href="/login/">Iniciar sesión</a></h4>
                  {% endif %}
                  <br>
                  <button type="button" class="btn btn-secondary">
                        Comentarios <span class="badge bg-secondary">({{comments.count}})</span>
                      </button>
                  <br>
                  {% for comment in comments %}
                  <div class="card">
                        <div class="card-header">
                              <span style="font-size: 22px;">{{comment.user}} </span> <span
                                    style="font-size: 12px;">{{comment.dateTime | naturaltime}}</span>
                        </div>
                        <div class="card-body">
                              <h6 class="card-text">{{comment.content}}</h6>
                        </div>
                  </div>
                  {% if user.is_superuser %}<a href="/blog/{{post.slug}}/delete_comment/{{comment.id}}/" class="btn btn-danger mx-4">Eliminar</a>{% endif %}</a>
                  <br>
                  {% endfor %}
            </div>
      </div>

      {% endblock %}